<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Test Store</title>
</head>
<body>
  <div>
    <p>{{ .Customer.FirstName }}</p>
    <p>{{ .Customer.LastName }}</p>
    <p>{{ .Customer.Email }}</p>
  </div>
  <div class="product-owner-input">
    {{ range .PurchaseItems }}
      <div>
        <h2>Item name {{ .Name }}</h2>
        <label>first name</label>
        <input type="text"/>
        <br>
        <label>last name</label>
        <input type="text"/>
        <br>
        <label>email</label>
        <input type="email"/>
        <br>
        <label>contact no</label>
        <input type="text"/>
      </div>
    {{ end }}
  </div>

  <a href="/getPay?orderId={{ .OrderId }}">to payment</a>

  <script>
    const form = document.getElementById('to-payment')
  </script>
</body>
</html>