<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Test Store - Payment</title>
</head>
<body>
  total
  
  <form>
    <button id="pay-button">pay</button>
  </form>
  <p>status: -- <scan id="status-indicator">No Action</scan> --</p>
  <p id="back" display="none">go back to store</p>

  <script type="text/javascript" src="https://cdn.omise.co/omise.js"></script>
  <script>
    (function(){
      const isToken = (nonce) => nonce.startsWith("tokn_")
      let totalAmount = 0

      const statusIndicator = document.getElementById("status-indicator")
      const btn = document.getElementById("pay-button")
      OmiseCard.configure({
        publicKey: "pkey_test_5smbjs6xb6845qcglp3"
      })
      btn.addEventListener("click", (e) => {
        e.preventDefault()
        OmiseCard.open({
          amount: totalAmount,
          currency: "THB",
          defaultPaymentMethod: "credit_card",
          submitLabel: "pay for amount",
          locale: "th",
          onCreateTokenSuccess: nonce => {
            if (isToken(nonce)) {
              statusIndicator.textContent = "Pending"
              btn.disabled = true
              fetch("/pay", {
                method: "POST",
                headers: {"Content-type": "application/json"},
                body: JSON.stringify({
                  payAmount: totalAmount,
                  token: nonce
                }),
              })
                .then(res => res.json())
                .then(data => {
                  console.log(data)
                  statusIndicator.textContent = "Paid"
                })
                .catch(error => {
                  console.log(error)
                  statusIndicator.textContent = "Error"
                })
              return
            }
            console.log(nonce)
          },
          onFormClosed: () => {
            console.log("close form")
          }
        })
      })
    })()
  </script>
</body>
</html>