<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Test Store</title>
  <style>
    /* no increment/decrement arrow for input type number*/
    /* Chrome, Safari, Edge, Opera */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
    /* Firefox */
    input[type=number] {
      -moz-appearance: textfield;
    }
  </style>
</head>
<body>
  <!-- product list from server -->
  <ul class="product-list">
    {{ range .products }}
      <li class="product-item-card">
        <p>{{ .Name }}</p>
        <p>{{ .Price }} บาท</p>
        <p>จำนวนทั้งหมด {{ .TotalAmount }}</p>
        <div class="product-amount">
          <form class="cart-form">
            <input type="hidden" name="itemId" value="{{ .ID }}" />
            <button type="submit" class="add">เพิ่มลงตระกร้า</button>
          </form>
        </div>
      </li>
    {{ end }}
  </ul>
  <!--
    cart element.
    hidden when cart empty.
  -->
  <form id="to-next" method="GET" action="/owner-input">
    <label for="cusFirstName">First name</label>
    <input id="cusFirstName" type="text" name="firstName" />
    <label for="cusLastName">Last name</label>
    <input id="cusLastName" type="text" name="lastName" />
    <label for="cusEmail">Email</label>
    <input id="cusEmail" type="email" name="email" />
    <div class="purchase-conclude" id="cart">
      <p>cart</p>
      <ul class="item-list" id="item-list">
        <!-- item in cart here update from cart data in script -->
      </ul>
      <p id="item-count"></p>
      <p id="total-m"></p>
    </div>
    <button id="buy-btn"> buy </button>
  </form>

  <script>
    const productData = [
      {
        id: "1234",
        name: "Item1",
        price: 1800
      },
      {
        id: "44fc",
        name: "Item2",
        price: 2000
      }
    ]
    // cart js
    // store cart data by add to cart function (click event on product show "add to cart" button).
    const cartData = {}

    /**
     * this get all the cart element to update in updateCartDom function.
     * 
     * cart | cartDiv :
     * Is a child div of form that action to (next page).
     * This is the wrapper div of detail element of cart.
     */
    const cartDiv = document.getElementById("cart")

    /**
     * item-list | cartItemList :
     * The unordered list element contain list of cart data element.
     */
    const cartItemList = document.getElementById("item-list")

    /**
     * item-count | totalItem :
     * total number of item in cart.
     * simply sum of amount in cart data.
    */
    const totalItem = document.getElementById("item-count")

    /**
     * total-m | totalPrice :
     * total price to pay for products.
     * sum of each item amount * item price
     * value of total price cannot be more than 15,000 bath 1.500.000 satang
    */
    const totalPrice = document.getElementById("total-m")
    
    // cart element to render inside item list ul.
    function createCartItem(itemName, qty, price) {
      const li = document.createElement("li")
      const name = document.createElement("p")
      const qtyele = document.createElement("p")
      const priceEle = document.createElement("p")
      name.textContent = itemName
      qtyele.textContent = qty
      priceEle.textContent = price
      li.append(name, qtyele, price)
      return li
    }
    function findProduct(id) {
      return productData.find(product => product.id == id)
    }
    // use this function as a callback function in other event that update cart data
    function updateCartDom() {
      const cartK = Object.keys(cartData)
      cartItemList.innerHTML = ""
      for (let i = 0; i < cartK.length; i++) {
        const prod = findProduct(cartK[i])
        cartItemList.appendChild(createCartItem(prod.name, cartData[cartK[i]], prod.price))
      }
    }

    const cartForms = document.getElementsByClassName("cart-form")

    // Prepare item data, add them to cartData, if item already exist increment amount by 1.
    const addToCart = (cb) => (e) => {
      e.preventDefault()
      const data = new FormData(e.target)
      const itemId = data.get("itemId")
      if (cartData[itemId]) {
        cartData[itemId] += 1
      } else {
        cartData[itemId] = 1
      }
      cb()
    }
    // Loop over all cart-form class element and add listener for "add to cart" form submit event.
    for (let i = 0; i < cartForms.length; i++) {
      // No submit form.
      console.log('add event to btn')
      cartForms.item(i).addEventListener("submit", addToCart(updateCartDom))
    }

    // Form to submit to post request to server.
    const form = document.getElementById("to-next")

    // Button to go to the next owner input page.
    const buy = document.getElementById("buy-btn")
    /**
     * event get cartData and set them for server to compute price and make order.
     * use form submit to post request to server url "/process".
    */
    buy.addEventListener("click", (e) => {
      e.preventDefault()
      const data = new FormData(form)
      const firstName = data.get("firstName")
      const lastName = data.get("lastName")
      const email = data.get("email")
      const preparedCart = []
      const cartK = Object.keys(cartData)
      for (let i = 0; i < cartK.length; i++) {
        preparedCart.push({id: cartK[i], qty: cartData[cartK[i]]})
      }
      fetch("/process", {
        method: "POST",
        headers: {"Content-type": "application/json"},
        body: JSON.stringify({
          customer: {firstName, lastName, email},
          cart: preparedCart,
        })
      })
        .then(res => res.json())
        .then(data => console.log(data))
        .catch(error => console.log(error))

    })
  </script>
</body>
</html>